<!DOCTYPE html>
<html>
<head>
<title>{{.Title}} - {{.Name}}</title>
<link rel="stylesheet" href="{{.StylePath}}">
</head>
<body>
<h1>{{.Name}}</h1>
<p>{{.Desc}}</p>
<p><a href="{{.BasePath}}index.html">Files</a> | <a href="{{.BasePath}}log.html">Log</a> | <a href="{{.BasePath}}commits.html">Commits</a> | <a href="{{.BasePath}}refs.html">Refs</a> | <a href="{{.BasePath}}readme.html">README</a></p>
<hr>